@import url(../styles/reset.css);

@import url(../styles/header.css);

@import url(../styles/welcome.css);

@import url(../styles/about.css);

@import url(../styles/favorites.css);

@import url(../styles/coffee.css);

@import url(../styles/contacts.css);

@import url(../styles/library.css);

@import url(../styles/footer.css);

@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.shaddow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}

.shaddow-active {
  display: block;
}

.shaddow-log {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}

.shaddow-active-log {
  display: block;
}

.shaddow-myprofile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}

.shaddow-active-myprofile {
  display: block;
}

.shaddow-buy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
}

.shaddow-active-buy {
  display: block;
}
